test.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT root (date)+>
<!ATTLIST root
  xmlns CDATA #FIXED ''>

<!ELEMENT date (Nume,Prenume,Username)>
<!ATTLIST date
  xmlns CDATA #FIXED ''>

<!ELEMENT Nume (#PCDATA)>
<!ATTLIST Nume
  xmlns CDATA #FIXED ''>

<!ELEMENT Prenume (#PCDATA)>
<!ATTLIST Prenume
  xmlns CDATA #FIXED ''>

<!ELEMENT Username (#PCDATA)>
<!ATTLIST Username
  xmlns CDATA #FIXED ''>